@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Oswald', sans-serif;
    
}
header  {
    text-align: center;
    background-color: rgb(250, 173, 7);
    color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
}

.hi {
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.hi img {
    width: 400px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.hi-text {
    width: 500px;
    margin-left: 20px;
    
}
span {
    color:  rgb(250, 173, 7);
    text-shadow: 2px 2px 10px black;
    line-height: 1in;
    
}

.skills {
    text-align: center;
    margin-top: 199px;
    
}
.skills h1 {
    color: rgb(250, 173, 7);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgb(250, 173, 7);
}
.skills img {
    width: 100%;
}
.hero {
    
    background-image: url('emille.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.experiences > h1 {
    color: white;
    font-size: 5rem;
    margin: 50px;
    color: rgb(250, 173, 7);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgb(250, 173, 7);
}
.x-container {
    padding: 80px 100px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.x-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 10px black;
    margin: 10px;
}
.x-box img {
    width: 400px;
    justify-content: center;
    
}
.title h1{
    text-transform: uppercase;
    color: rgb(250, 173, 7);
    text-shadow: 2px 2px 10px rgb(240, 159, 9);
}
.interests {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 80px 100px; 
    flex-direction: column;
}
.int-container {
    position: relative;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.int-image {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.int-image img {
    width: 100%;
    height: 100%;
    z-index: 111;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.int-text {
    z-index: 222;
    background-color: rgba(240, 159, 9, 0.774);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgb(240, 159, 9);
    border-radius: 20px;
    transform: translate(-80px, 50px);
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.socials i{
    margin: 20px;
    box-shadow: 2px 2px 10px rgba(240, 159, 9, 0.774);
    text-decoration: none;
    color: black;
}

.socials i:hover {
    color: rgba(240, 159, 9, 0.774);
    box-shadow: 2px 2px 10px black ;
    transition: 0.5s ease-in;
    
} 
.connect {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}
.connect img {
    width: 400px;
    min-width: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.connect > h1 {
    color: rgb(250, 173, 7);
    text-shadow: 2px 2px 10px black;
}